.det-cont{
    width: 65%;
    margin: 25px auto;
    border: 2px solid red;
    box-shadow: 0 5px 5px ;
    img{
        width: 500px;
    }
    p{
        text-align: justify;
        margin: 10px;
    }
}
